# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autofix_commit_msg: 'chore(pre-commit): [pre-commit.ci] auto fixes from pre-commit.com hooks'
  autofix_prs: true
  autoupdate_commit_msg: 'chore(pre-commit): [pre-commit.ci] autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0
    hooks:
      - id: eslint
        files: '\.[jt]sx?$'
        types: [file]
        additional_dependencies:
          - eslint@9.39.2
          - '@eslint/js@9.39.2'
          - typescript-eslint@8.53.1
          - eslint-config-prettier@10.1.8
          - typescript@5.9.3
          - globals@17.3.0
